<div>
    <div class="jms-icon">
        <a href="#/atendimento">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </a>
    </div>

    <div class="tela">

        <div class="card-body">
            <h1 class="titulo">Revisão do cadastro</h1>

        </div>


        <div class="mb-3">
            <div class="row g-0">

                <div class="col-md-6">
                    <div class="card-body">
                        <div class="mb-4">
                            <p class="card-title">Nome completo</p>
                            <p class="card-text">{{nome}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">CPF</p>
                            <p class="card-text">{{cpf}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">Número de celular ou telefone</p>
                            <p class="card-text">{{telefone}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">Estado/Cidade</p>
                            <p class="card-text">{{estado}} {{cidade}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">Especialidade principal</p>
                            <p class="card-text">{{especialidade}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">Preço d consulta</p>
                            <p class="card-text">{{valor}}</p>
                        </div>

                        <div class="mb-4">
                            <p class="card-title">Formas de pagamento da consulta</p>
                            <p class="card-text">{{pagamento}} - {{parcela}}</p>
                        </div>

                        <div>
                           
                            <a href="#/jms" class="btn btn_jms2 mb-3">CADASTRAR PROFISSIONAL</a>
                        </div>
                        <a href="#/" class="btn btn_jms3">Editar cadastro</a>
                    </div>
                </div>

                <div class="col-md-6 show">
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0 ">
                            <img class="img" src="..." src="assets/imagem/desktop-pagina-3.png" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>