<div>
    <div class="jms-icon">
        <a href="#/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </a>
    </div>
    <div class="tela">
        <div class="card-body">
            <h1 class="titulo">Obrigado(a)</h1>

        </div>
        <div class="">
            <h4 class="subTitulo">Todas as Etapas Concluidas.
                <a href=""><img style="width:50px" class="img" src="..." src="assets/imagem/jms_2.png" alt="..."></a>
            </h4>
        </div> 
        <div class="mb-10 obrigado">
            <div class="row g-0">
                <div class="card w-100">

                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card bg-dark text-white" style="height: 260px;">
                                <img class="img" src="..." src="assets/imagem/desktop-pagina-1.png" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Sobre o profissional</h5>
                                    <p class="card-text">Dados do profisional</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-dark text-white" style="height: 260px;">
                                <img class="img" src="..." src="assets/imagem/desktop-pagina-2.png" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Sobre o atendimento</h5>
                                    <p class="card-text">Detalhes do atendimento</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-dark text-white" style="height: 260px;">
                                <img class="img" src="..." src="assets/imagem/desktop-pagina-3.png" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Revisão do cadastro</h5>
                                </div>
                            </div>
                        </div>

                    </div>

                   

                    <div class="row g-0 obrigado2">
                       
                        <div class="col-md-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">Agora te é permitido</h5>
                                <p class="card-text">Fazer Login Acessar a sua Conta.</p>
                                <p class="card-text">Atualização dos seus dados.</p>
                                <a href="#" class="btn btn_jms4">Alterar os seu Dado</a>
                            </div>
                        </div>
                        <div class="col-md-4"> 
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Fique Atento !!</h5>
                                    <p class="card-text">Podes fazer as suas Consulta aqui.</p>
                                    <p class="card-text">Envio de arquivo.</p>
                                    <a  class="btn btn_jms4">Saiba mais </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">Atenção</h5>
                                <p class="card-text">Sempre que terminar não esqueça de fazer o Logout.</p>
                                <a  class="btn btn_jms4">Sair agora</a>
                            </div>
                        </div>

                    </div>



                </div>
            </div>




        </div>
    </div>