<div>
    <div class="jms-icon">
        <a href="#/atendimento">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </a>
    </div>

    <div class="tela">

        <div class="card-body">
            <h1 class="titulo">Obrigado</h1>

        </div>


        <div class="mb-3">
            <div class="row g-0">

                <div class="col-md-6">
                    
                </div>

                <div class="col-md-6">
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0 ">
                            <img class="img" src="..." src="assets/imagem/desktop-pagina-3.png" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="tela">

        <div class="card-body">
            <h1 class="titulo">Cadastro Realizado <br/> com Sucsso.</h1>



            <div class="card " style="width: 20rem; margin-top: 2rem">
                <div class="card-body">
                  <h5 class="card-title">Agora te é permitido</h5>
                  <p class="card-text">Fazer Login Acessar a sua Conta.</p>
                  <p class="card-text">Stualizacao dos seus dados.</p>
                  <a href="#" class="btn btn_jms4">Alterar os seu Dado</a>
                </div>
              </div>
              
              <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Fique Atento !!</h5>
                  <p class="card-text">Podes fazer as suas Conmsulta aqui.</p>
                  <p class="card-text">Envio de arquivo.</p>
                  <a href="#" class="btn btn_jms4">Saiba mais </a>
                </div>
              </div>
              
              <div class="card text-end" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Atenção</h5>
                  <p class="card-text">Sempre que terminar nmao esqueca de fazer o Logout.</p>
                  <a href="#" class="btn btn_jms4">Sair agora</a>
                </div>
              </div>
        </div>

    </div>
</div>