<div>
    <div class="jms-icon">
        <a href="#/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </a>
    </div>

    <div class="tela">
        <div class="card-body">
            <h1 class="titulo">Sobre o atendimento</h1>

        </div>
        <div class="card-body">
            <h4 class="subTitulo">Detalhes do atendimento</h4>
        </div>

        <div class="mb-3">
            <form @submit="atendente" method="post" novalidate="true">
            <div class="row g-0">

                <div class="col-md-6">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="nome" class="form-label">Especialidade principal*</label>
                            <select v-model="especialidade" class="form-select imput"
                                aria-label="Default select example">
                                <option disabled value="">Selecione a especialidade</option>
                                <option v-for="(option, index) in todos_especialidade" :value="option.nome">
                                    {{ option.nome }}
                                </option>
                            </select>



                            <p v-if="erro_especialidade.length">

                            <div class="p" v-for="error in erro_especialidade">{{ error }}</div>

                            </p>

                        </div>

                        <div class="mb-4 col-9 col-sm-8">
                            <label for="valorx" class="form-label">Informe o preço da consulta*</label>

                            <div class="input-group mb-3">
                                <span class="input-group-text bg_jms">RS</span>
                                <input v-model="valor" type="text" class="form-control imput" @input="money" id="valorx"
                                    placeholder="Valor">
                                </di>
                            </div>

                            <p v-if="erro_valor.length">

                            <div class="p" v-for="error in erro_valor">{{ error }}</div>

                            </p>
                        </div>



                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label mb-3">Formas de pagamento da
                                consulta*</label>

                            <div class="input-group mb-3">
                                <div class="input-group-text pagar">
                                    <input id="pix" v-model="pagamento" class="form-check-input mt-0" type="checkbox"
                                        value="PIX" >

                                    <div for="pix" class="pagarTipo"> Pix </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-text pagar">
                                    <input id="pagamento" v-model="pagamento" class="form-check-input mt-0"
                                        type="checkbox" value="Em Dinheeiro">

                                    <div for="pagamento" class="pagarTipo"> Em Dinheiro </div>
                                </div>

                            </div>

                            <div class="input-group ">
                                <div class="input-group-text border-0 pagar">
                                    <input @click="mostrar = !mostrar" id="cartao" v-model="pagamento"
                                        class="form-check-input mt-0" type="checkbox" value="Cartão de crédeito">
                                    <div for="cartao" class="pagarTipo"> Cartão de credito </div>

                                </div>

                            </div>

                            <div v-if="mostrar">
                                <div class="input-group-text border-0 pagar">

                                    <div class="pagarTipo"> Parcelamento em </div>

                                </div>

                                <div class="input-group ">
                                    <div class="input-group-text border-0 parcela">
                                        <input v-model="parcela" class="form-check-input mt-0" type="radio"
                                            value="1x, sem juros">
                                        <div class="parcelaTipo"> 1x, sem juros</div>

                                    </div>
                                </div>

                                <div class="input-group ">
                                    <div class="input-group-text border-0 parcela">
                                        <input v-model="parcela" class="form-check-input mt-0" type="radio"
                                            value="2x, sem juros">
                                        <div class="parcelaTipo"> 2x, sem juros</div>

                                    </div>
                                </div>

                                <div class="input-group ">
                                    <div class="input-group-text border-0 parcela">
                                        <input v-model="parcela" class="form-check-input mt-0" type="radio"
                                            value="3x, sem juros">
                                        <div class="parcelaTipo"> 3x, sem juros</div>

                                    </div>
                                </div>
                            </div>

                            <div v-else></div>

                            <p v-if="erro_pagamento.length">

                            <div class="p" v-for="error in erro_pagamento">{{ error }}</div>

                            </p>


                            <p v-if="erro_parcela.length">

                            <div class="p" v-for="error in erro_parcela">{{ error }}</div>

                            </p>
                        </div>

                        <div class="row topxx">
                            <div class="col-9 col-sm-10">
                                <div class="mb-3">
                                    <div class="progress">
                                        <div class="progress-bar bg_jms" role="progressbar" style="width: 100%;"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-sm-2">
                                <div class="mb-3 titulo">
                                    2 de 2
                                </div>
                            </div>
                        </div>
                        <div> 
                            <input class="btn btn_jms mb-3" type="submit" @click="" value="PROXIMO">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 show">
                    <div class="position-relative">
                        <div class="">
                            <img class="img2" src="..." src="assets/imagem/desktop-pagina-2.png" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </form>
        </div>
    </div>
</div>