<form @submit="checkForm">

    <p v-if="errors.length">
        <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>

    <p>
        <label for="name">Nome</label>
        <input id="name" v-model="name" type="text" name="name">
    </p>

    <p>
        <label for="email">Email</label>
        <input id="email" v-model="email" type="email" name="email">
    </p>

    <p>
        <label for="movie">Filme favorito</label>
        <select id="movie" v-model="movie" name="movie">
            <option>Star Wars</option>
            <option>Vanilla Sky</option>
            <option>Atomic Blonde</option>
        </select>
    </p>

    <p>
        <input type="submit" @click="" value="Enviar">
    </p>

</form>